<launch>
  <!-- C++ Nodes -->
  <node name="$(anon lidar_preprocessing_node)" pkg="lidar_object_detection" type="lidar_preprocessing_node" output="screen"/>
  <node name="$(anon lidar_object_detection_node)" pkg="lidar_object_detection" type="lidar_object_detection_node" output="screen"/>
  <node name="$(anon lidar_detection_visualization_node)" pkg="lidar_object_detection" type="lidar_detection_visualization_node" output="screen"/>
</launch>